﻿<div class="activity-desc">

    <h1 style="font-family:メイリオ ボールド" >OSK In Tokyo University Of Science</h1>
    <br/>
    <br/>

    
    <div class="row">
        <h2 style="font-family:メイリオ ボールド" class="col-md-1">応数研<br>とは</h2>

        <div class="col-md-5">
            <h4><strong>概要</strong></h4>
                <p>応用数学研究部(応数研,OSK)は東京理科大学一部研究会に属する部活動団体で、創部から半世紀以上たつ歴史ある団体です。<br>
                    応用数学というのは現在の数理情報科学のことで、数理情報科学科は昔は応用数学科と呼ばれていました。
                </p>

            <h4><strong>活動</strong></h4>
                <p>全体での活動は基本的に週一回土曜日に行います。</p>

            <h4><strong>部員</strong></h4>
                <p>部員は２０名程です。<br>
                    部員には数学科や数理情報科学科の人が多いです。</p>
        </div>
    </div>

    <hr />

    <div class="row">
        <h2 style="font-family:メイリオ ボールド" class="col-md-1">年間<br>計画</h2>

        <div class="col-md-5">
            <h4><strong>前期</strong></h4>
            <p> 
                前期は新入生向けにプログラミング言語の基礎文法の講義を行います。<br>
                数回文法の講習をした後に、実際に簡単なゲームを作りながらゲーム開発に必要な技術を学んでいくとともに、基本文法の定着を図ります。
            </p>

            <h4><strong>夏休み</strong></h4>
            <p>夏休みは二泊三日で合宿をします。合宿と言っても部員の親睦を深めるのが主な目的なので、気楽に参加できます。</p>

            <h4><strong>後期</strong></h4>
            <p>
                後期は理大祭に向けて各自の作品を進めていきます。<br />
                理大祭後は各自興味のあるものを勉強していきます。
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
         <h2 style="font-family:メイリオ ボールド" class="col-md-1">活動<br>目的</h2>
         <p class="col-md-5">
             主な目的は１１月に行われる理大祭への作品展示です。<br />
             各部員が毎年、ゲームや実用アプリケーションなどの開発を行い理大祭で展示しています。<br />
             新入生でプログラミング初心者の人はすぐにソフトウェア開発をするのは難しいと思うので、２年生以降に出すことになります。<br />
             もちろん、どんな簡単な作品でも完成したら展示できます。
         </p>
    </div>

    <hr />

    <div class="row">
         <h2 style="font-family:メイリオ ボールド" class="col-md-1">抱負</h2>
         <p class="col-md-5">
            部員一人一人がレベルアップし、部全体で大規模プロジェクトを進めること。
         </p>
    </div>

    <hr />

    <div class="row">
         <h2 style="font-family:メイリオ ボールド" class="col-md-1">備品</h2>
         <p class="col-md-5">
             応数研には技術力向上のためのデバイスがあります。部員はこれらを自由に使ってプログラミングすることができます。<br />
         </p>
    
    <div class="col-md-6">
            <p class="lead desc">備品コレクション</p>
                <div class="row">
                    <p class="col-md-4">
                        <a class="gallary" href="img/about/pc.jpg"><img src="img/about/pc.jpg" style="width: 267px;height: 200px;" alt="mainpc" /></a><br />
                        メインPC
                    </p>
                    <p class="col-md-4">
                        <a class="gallary" href="img/about/kinect.jpg""><img src="img/about/kinect.jpg" style="width: 267px;height: 200px;" alt="kinect" /></a><br />
                        Kinect
                    </p>
                    <p class="col-md-4">
                        <a class="gallary" href="img/about/oculus.jpg"><img src="img/about/oculus.jpg" style="width: 267px;height: 200px;" alt="oculus" /></a><br />
                        Oculus Rift
                    </p>
                </div>
                
                
                
        </div>
    </div>

</div>