﻿<div>
    <h1 class="featurette-heading" style="margin: 10px;">部室の位置<span class="text-muted">2号館5F 2507号室</span></h1>
    <div class="row featurette desc">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="lead desc">応用数学研究部の部室は神楽坂の2号館、5階の2507号室にあります。</p>
            <div>
                <a class="gallary" rel="clubroom" href="img/clubroom/door.jpg"><img src="img/clubroom/door.jpg" style="width: 200px;height: 200px;" alt="" /></a>
                <a class="gallary" rel="clubroom" href="img/clubroom/room.jpg"><img src="img/clubroom/room.jpg" style="width: 200px;height: 200px;" alt="" /></a>
                <a class="gallary" rel="clubroom" href="img/clubroom/pc.jpg"><img src="img/clubroom/pc.jpg" style="width: 200px;height: 200px;" alt="" /></a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div style="visibility: hidden" id="cg"></div>
    <div style="visibility: hidden" id="algo"></div>
    <div style="visibility: hidden" id="web"></div>
</div>