﻿<div>
    <h1 class="featurette-heading" style="margin: 10px;">連絡先<span class="text-muted"></span></h1>
    <div class="row featurette desc">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="lead desc">応用数学研究部にご用の方は、<strong>os_ken@ed.kagu.tus.ac.jp</strong>までメールをお寄せください。</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div style="visibility: hidden" id="cg"></div>
    <div style="visibility: hidden" id="algo"></div>
    <div style="visibility: hidden" id="web"></div>
</div>
