﻿<hr id="cg" class="featurette-divider">

<div class="row featurette desc">
    <div>
        <h4 class="featurette-heading" style="margin: 10px;">CG Programming<span class="text-muted">プログラミングに数学を生かす</span></h4>
        <div class="col-md-9">
            <p class="lead desc activity-desc">
                美しいCGモデルを表示するためには、数学、物理、プログラミングの能力が必要です。まさに応用数学と言える分野の一つです。
                <br />
                応数研では、あえてUnity等を利用せずDirectX11等を利用し、背景に存在する理論を学んでいくことにも主眼を置いています。
                <br />
                プログラミングに触れたことのなかった新入生でも、活動の講習会に参加することによって、2年次までにCGプログラミングができるような知識を身に着けられます。
            </p>
        </div>
        <div class="col-md-3">
            <img class="featurette-image img-responsive" src="img/featurette/cg.png">
        </div>
    </div>
</div>

<hr id="algo" class="featurette-divider">
<h4 class="featurette-heading" style="text-align: right;">Algorithm Programming<span class="text-muted">論理的なプログラミングへ</span></h4>
<div class="row featurette desc activity-desc">
    <div class="col-md-3">
        <img class="featurette-image img-responsive" src="img/featurette/algo.png">
    </div>
    <div class="col-md-9">
        <p class="lead desc">
            語学でもそうですが、プログラミングも文法を知っているだけでは、ソフトウェアをつくることはできず、
            これからの上達も難しいでしょう。また、ソフトウェア開発にはしばしば論理的な思考が必要になります。
            アルゴリズムを学習することは、文法を知っているだけの状態から脱却し、実際に運用する力を身に着け、
            それと同時に論理的思考力を養うことにつながります。
            そうすることで、プログラミング能力の向上だけでなく、ゲーム開発の途中で出くわす様々な困難に対して、
            その問題点をあぶり出し、自分の力で解決することができるようになります。
        </p>
    </div>
</div>

<hr id="web" class="featurette-divider">
<h4 class="featurette-heading" style="margin: 10px;">Web Programming<span class="text-muted">デザインとの融合</span></h4>
<div class="row featurette desc activity-desc">
    <div class="col-md-9">
        <p class="lead desc">プログラミングというと、ソフトウェア開発に偏る傾向にあります。しかし情報系の部として、CやJavaなどの言語しか
知らないというわけにはいきません。
Web系の言語を学ぶことによって、部員の知見を広げ、情報における総合的な知識、能力を向上を狙います。</p>
    </div>
    <div class="col-md-3">
        <img class="featurette-image img-responsive" src="img/featurette/web.jpg">
    </div>
</div>

<hr id="math" class="featurette-divider">
<h4 class="featurette-heading" style="text-align: right;">Pure Mathematics<span class="text-muted">研究のための基礎を</span></h4>
<div class="row featurette desc activity-desc">
    <div class="col-md-3">
        <img class="featurette-image img-responsive" style="text-align: right;" src="img/featurette/math.jpg">
    </div>
    <div class="col-md-9">
        <p class="lead desc">シミュレーション、アルゴリズムといった応用数学には数学の基礎知識が不可欠です。例えば、問題に対してアルゴリズムを開発するにしても、
            実際に正当な解を出力するか、計算時間はどの程度か、適用するデータ構造はどういったものがより最適な操作を導くか、そういった疑問が現れてくるはずです。
            それらを統一的に処理するのが数学です。Linkの「最短経路問題とその解決」において、実際に問題とアルゴリズムを与え、その正当性を、数学を以てして証明した例を挙げます。
        </p>
    </div>

</div>