﻿<div>
    <h1 class="featurette-heading" style="margin: 10px;">ログイン<span class="text-muted"></span></h1>
    <div class="row featurette desc">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background: #e0e0e0;padding: 20px;">
            <p id="header">部員用ページ</p>
            <form>
                <div class="lead desc">
                    <div class="form-group">
                        <label for="form-id" class="form-label">ID</label>
                        <br />
                        <input name="id" type="email" class="form-control" id="form-id" placeholder="メールアドレス">
                        <br />
                        <label for="form-pass" class="form-label">パスワード</label>
                        <br />
                        <input name="pass" type="password" class="form-control" id="form-pass" placeholder="パスワード" />
                    </div>
                </div>
                <p class="no-emp-first-letter"  id="login-form-result"></p>
                <div id="login-progress" hidden="hidden" class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">wait...</span>
                    </div>
                </div>

                <button class="btn btn-large btn-success btn-signin" data-loading-text="ログイン中..."  id="form-submit" onclick="Login()" type="button">サインイン</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div style="visibility: hidden" id="cg"></div>
    <div style="visibility: hidden" id="algo"></div>
    <div style="visibility: hidden" id="web"></div>
</div>
