.desc p:not(#login-form-result):first-letter{
    font-weight: bold;
    font-size: 32px;
}

#login-form-result {
    color: red;
    font-weight: bold;
}

.item p {
    color: #ccffff;
}

.item h1 {
    color: #ccffff;
}
.carousel-caption{
    background: rgba(0,0,0,0.5);
}

.form-group {
    margin: 20px;
    text-align: right;
}

.form-label {
    float: left;
}

.btn-signin {
    margin-left: 20px !important;
    margin-right: 20px !important;
    float: right !important;
}

.activity-desc
{
	padding-left: 80px;
	padding-right:80px;
}